<!DOCTYPE html>
<html>
    <head>
        <title>Place Diary</title>
    </head>
    <body>
        <h1>Place Diary</h1>
        <form action="/tamagotchi" method="post">
            <label for="name">Enter a pet name.</label>
            <input id="name" name="name" type="text">

            <button type="submit">Submit</button>
        </form>

    </body>
</html>